@model List<Auctisafe.ViewModel.AgreemtnViewModel>
@{
    ViewBag.Title = "Agreement";
}

<h2>Agreement</h2>
@{
    ViewBag.Title = "Index";
}
<div>
    <div class="inner-banner">
        <div class="container">
            <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                My account
            </h2>
            <nav aria-label="breadcrumb">
                <ul id="breadcrumb" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="https://www.bidout-wp.egenslab.com"> Home </a></li>
                    <li class="active">My account</li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="page-wrapper sec-mar">
        <div class="container">
            <article id="post-1408" class="post-1408 page type-page status-publish hentry">
                <div class="inner-post">
                    <div class="woocommerce">
                        <nav class="woocommerce-MyAccount-navigation">
                            <ul>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active">
                                    @Html.ActionLink("Dashboard", "Index")
                                </li>

                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account">
                                    @Html.ActionLink("Account Details", "details")
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--auctions-endpoint">
                                    @Html.ActionLink("Create Auction", "Create_Auction")
                                </li>

                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--auction-watchlist">
                                    @{
                                        int x = Convert.ToInt32(Session["productCount"]);
                                        @Html.ActionLink("My Auctions (" + x + ")", "myauctions");
                                    }
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--active-auction">
                                    <a href="~/Dashboard/PaymentCredentials">Payment Credentials</a>
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--active-auction">
                                    <a href="~/Dashboard/PendingPayments">Pending Payments (Have to Pay)</a>
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--won-auction">
                                    <a href="~/Dashboard/ReceivePayments">Pending Payments (Have to Receive)</a>
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--won-auction">
                                    <a href="~/Dashboard/Agreement">Recieve / Deliver Agreement</a>
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--active-auction">
                                    <a href="~/Dashboard/tracking">Product Tracking</a>
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--auction-activity">
                                    <a href="">Auction Activity</a>
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout">
                                    @Html.ActionLink("Logout", "logout")
                                </li>
                            </ul>
                        </nav>


                        <div class="woocommerce-myaccount-content">
                            <div class="woocommerce-notices-wrapper"></div>


                            <p>
                                Read & Sign the agreement properly, you will not be able to edit it

                            </p>

                        </div>

                        <table style="width: 100%">
                            <thead class="table table-striped">
                                <tr>
                                    <th>Product Name</th>
                                    <th>Upload Signed Agreement</th>
                                    <th>Download Agreement</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int index = 0;
                                }
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <form id="agree_@index">
                                        <td hidden>@item.ProductID</td>
                                        <td>@item.ProductName</td>
                                        <td>
                                            <input type="number" value="@item.ProductID" name="productid" hidden />
                                            @if (item.AgreementName == "" || item.AgreementName == null)
                                            {
                                                <input type="file" name="file" class="form-control" />
                                                <br />
                                                <button type="button" class="btn btn-secondary agree" id="@index">Send Agreement</button>
                                            }
                                            else
                                            {
                                                <span>Agreement Already Submitted</span>
                                            }
                                        </td>
                                        <td>
                                            <a href="~/Agreements/Agreement.docx" class="">click Here</a>
                                        </td>
                                        </form>
                                    </tr>
                                    index = index + 1;
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </article>
        </div> <!-- end .container -->
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(".agree").click(function () {
        showLoadingSpinner();
        debugger
        var id = $(this).attr("id")
        var formData = new FormData($('#agree_'+id)[0]);

        $.ajax({
            url: '/Dashboard/SendAgreement',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                alert(data)
                location.reload();
            },
            error: function (error) {
                hideLoadingSpinner();
                alert(error)

            }
        });
    })
</script>