@model Auctisafe.Models.ProductAuctionMaster

@{
    ViewBag.Title = "Create_Auction";
}


<div class="inner-banner">
    <div class="container">
        <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
            My account
        </h2>
        <nav aria-label="breadcrumb">
            <ul id="breadcrumb" class="breadcrumb">
                <li class="breadcrumb-item"><a href="https://www.bidout-wp.egenslab.com"> Home </a></li>
                <li class="active">My account</li>
            </ul>
        </nav>
    </div>
</div>
<div class="page-wrapper sec-mar">
    <div class="container">
        <article id="post-1408" class="post-1408 page type-page status-publish hentry">
            <div class="inner-post">
                <div class="woocommerce">
                    <nav class="woocommerce-MyAccount-navigation">
                        <ul>
                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active">
                                @Html.ActionLink("Dashboard", "Index")
                            </li>

                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account">
                                @Html.ActionLink("Account Details", "details")
                            </li>
                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--auctions-endpoint">
                                @Html.ActionLink("Create Auction", "Create_Auction")
                            </li>

                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--auction-watchlist">
                                @{
                                    int x = Convert.ToInt32(Session["productCount"]);
                                    @Html.ActionLink("My Auctions (" + x + ")", "myauctions");
                                }
                            </li>
                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--active-auction">
                                <a href="~/Dashboard/PaymentCredentials">Payment Credentials</a>
                            </li>
                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--active-auction">
                                <a href="~/Dashboard/PendingPayments">Pending Payments (Have to Pay)</a>
                            </li>
                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--won-auction">
                                <a href="~/Dashboard/ReceivePayments">Pending Payments (Have to Receive)</a>
                            </li>
                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--won-auction">
                                <a href="~/Dashboard/Agreement">Recieve / Deliver Agreement</a>
                            </li>
                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--active-auction">
                                <a href="~/Dashboard/tracking">Product Tracking</a>
                            </li>
                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--auction-activity">
                                <a href="">Auction Activity</a>
                            </li>
                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout">
                                @Html.ActionLink("Logout", "logout")
                            </li>
                        </ul>
                    </nav>

                    @using (Html.BeginForm("Create_Auction", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="woocommerce-MyAccount-content">

                            <div class="woocommerce-notices-wrapper"></div>
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="account_email">Select Auction Type&nbsp;<span class="required">*</span></label>
                                @Html.DropDownList("auction", (IEnumerable<SelectListItem>)ViewBag.auctions, new { id = "auctions" })
                                @Html.ValidationMessageFor(model => model.Auction_type_ID, "", new { @class = "text-danger" })
                            </p>


                            <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                                <label for="account_first_name">Product name&nbsp;<span class="required">*</span></label>
                                @Html.Editor("name", new { htmlAttributes = new { @class = "woocommerce-Input woocommerce-Input--text input-text" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </p>

                            @*description for reverse auction*@
                            <p class="woocommerce-form-row woocommerce-form-row--last form-row form-row-last" id="ReverseDiscription" style="display:none;">
                                <label for="account_last_name">Your Requirment(Description)&nbsp;<span class="required">*</span></label>
                                @Html.Editor("description", new { htmlAttributes = new { @class = "woocommerce-Input woocommerce-Input--text input-text" } })
                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                            </p>

                            <p class="woocommerce-form-row woocommerce-form-row--last form-row form-row-last" id="Discription">
                                <label for="account_last_name">Description&nbsp;<span class="required">*</span></label>
                                @Html.Editor("description", new { htmlAttributes = new { @class = "woocommerce-Input woocommerce-Input--text input-text" } })
                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                            </p>

                            <div class="clear"></div>

                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="account_email">Select Category&nbsp;<span class="required">*</span></label>
                                @Html.DropDownList("category", (IEnumerable<SelectListItem>)ViewBag.categories)
                                @Html.ValidationMessageFor(model => model.Category_ID, "", new { @class = "text-danger" })
                            </p>


                            <div class="clear"></div>
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="account_email">Enter Price&nbsp;<span class="required">*</span></label>
                                @Html.Editor("price", new { htmlAttributes = new { @class = "woocommerce-Input woocommerce-Input--text input-text" } })
                                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                            </p>

                            @*FOR RESERVE AUCTION*@
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide" id="reserveprice" style="display:none;">
                            <label for="account_email">Enter the Reserve Price&nbsp;<span class="required">*</span></label>
                            @Html.Editor("reservedprice", new { htmlAttributes = new { @class = "woocommerce-Input woocommerce-Input--text input-text", Type = "number", Value = 0 } })
                            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                        </p>


                            @* for reverse auction*@
                            @*<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide" id="reverseused" style="display:none;">
                                <label for="account_email">You want product in Used or not?&nbsp;<span class="required">*</span></label>
                                @Html.DropDownList("used", (IEnumerable<SelectListItem>)ViewBag.used)
                                @Html.ValidationMessageFor(model => model.used, "", new { @class = "text-danger" })
                            </p>*@



                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide" id="otherused">
                                <label for="account_email">Used or not?&nbsp;<span class="required">*</span></label>
                                @Html.DropDownList("used", (IEnumerable<SelectListItem>)ViewBag.used)
                                @Html.ValidationMessageFor(model => model.used, "", new { @class = "text-danger" })
                            </p>


                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide" id="Interval" style="display:none;">
                                <label for="account_email">Enter Interval (in Minutes)&nbsp;<span class="required">*</span></label>
                                @Html.Editor("Interval", new { htmlAttributes = new { @class = "woocommerce-Input woocommerce-Input--text input-text", Type = "number", Value = 0 } })
                                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                            </p>
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide" id="decreament" style="display:none;">
                                <label for="account_email">Enter Amount (After every Interval how many amount should be decrease from your actual price)&nbsp;<span class="required">*</span></label>
                                @Html.Editor("decreament", new { htmlAttributes = new { @class = "woocommerce-Input woocommerce-Input--text input-text", Type = "number", Value = 0 } })
                                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                            </p>





                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="account_email">Start Date&nbsp;<span class="required">*</span></label>
                                @Html.Editor("startdate", new { htmlAttributes = new { @class = "woocommerce-Input woocommerce-Input--text input-text", Type = "date" } })
                                @Html.ValidationMessageFor(model => model.Start_date, "", new { @class = "text-danger" })
                            </p>
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="account_email">End Date&nbsp;<span class="required">*</span></label>
                                @Html.Editor("enddate", new { htmlAttributes = new { @class = "woocommerce-Input woocommerce-Input--text input-text", Type = "date" } })
                                @Html.ValidationMessageFor(model => model.End_date, "", new { @class = "text-danger" })
                            </p>
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="account_email">Select Image (PNG/JPG)&nbsp;<span class="required">*</span></label>
                                @Html.Editor("file", new { htmlAttributes = new { @class = "form-control-file", Type = "file" } })
                                @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
                            </p>

                            <p>
                                <input type="hidden" id="save-account-details-nonce" name="save-account-details-nonce" value="e5a68a0d56" /><input type="hidden" name="_wp_http_referer" value="/my-account/edit-account/" />		<button type="submit" class="woocommerce-Button button wp-element-button" name="save_account_details" value="Save changes">Create Auction</button>
                                <input type="hidden" name="action" value="save_account_details" />
                            </p>



                        </div>}
                </div>

            </div>

        </article>
    </div> <!-- end .container -->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    $(document).ready(function () {
        var dropdown = $("#auctions");

        dropdown.on("change", function () {
            var selectedValue = dropdown.val();
            if (selectedValue == 2) {
                $("#decreament").show();
                $("#Interval").show();
            }

            else {

                $("#decreament").hide();
                $("#Interval").hide();
            }

            if (selectedValue == 4) {
                $("#ReverseDiscription").show();
                $("#Discription").hide();
                //$("#reverseused").show();
                //$("#otherused").hide();

            }

            else {
                $("#ReverseDiscription").hide();
                $("#Discription").show();
                //$("#reverseused").hide();
                //$("#otherused").show();

            }

            if (selectedValue == 5) {
                $("#reserveprice").show();

            }

            else {
                $("#reserveprice").hide();

            }
        });
    });

</script>