@model List<Auctisafe.ViewModel.PendingPaymentViewModel>

@{
    ViewBag.Title = "Pending Payments";
}
<div>
    <div class="inner-banner">
        <div class="container">
            <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                My account
            </h2>
            <nav aria-label="breadcrumb">
                <ul id="breadcrumb" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="https://www.bidout-wp.egenslab.com"> Home </a></li>
                    <li class="active">My account</li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="page-wrapper sec-mar">
        <div class="container">
            <article id="post-1408" class="post-1408 page type-page status-publish hentry">
                <div class="inner-post">
                    <div class="woocommerce">
                        <nav class="woocommerce-MyAccount-navigation">
                            <ul>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active">
                                    @Html.ActionLink("Dashboard", "Index")
                                </li>

                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account">
                                    @Html.ActionLink("Account Details", "details")
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--auctions-endpoint">
                                    @Html.ActionLink("Create Auction", "Create_Auction")
                                </li>

                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--auction-watchlist">
                                    @{
                                        int x = Convert.ToInt32(Session["productCount"]);
                                        @Html.ActionLink("My Auctions (" + x + ")", "myauctions");
                                    }
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--active-auction">
                                    <a href="~/Dashboard/PaymentCredentials">Payment Credentials</a>
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--active-auction">
                                    <a href="~/Dashboard/PendingPayments">Pending Payments (Have to Pay)</a>
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--won-auction">
                                    <a href="~/Dashboard/ReceivePayments">Pending Payments (Have to Receive)</a>
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--won-auction">
                                    <a href="~/Dashboard/Agreement">Recieve / Deliver Agreement</a>
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--active-auction">
                                    <a href="~/Dashboard/tracking">Product Tracking</a>
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--auction-activity">
                                    <a href="">Auction Activity</a>
                                </li>
                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout">
                                    @Html.ActionLink("Logout", "logout")
                                </li>
                            </ul>
                        </nav>


                        <div class="woocommerce-MyAccount-content">
                            <div class="woocommerce-notices-wrapper"></div>
                            <p>
                                Pending Payments will Appear here, which have to pay by your Side.
                            </p>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Product name</th>
                                        <th>Amount Have to Pay</th>
                                        <th>Transaction ID</th>

                                        <th>Account Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td hidden class="proid">@item.product.Product_ID</td>
                                            <td>@item.product.name</td>
                                            <td>@item.Amount</td>
                                            <td>
                                                <div style="display: flex">
                                                    @if (item.isReceived == "no")
                                                    {
                                                        <input type="file" id="imageInput_@item.product.Product_ID"/>
                                                        @*<input type="text" class="form-control" name="trxID" id="trxid" />*@
                                                        <button type="button" class="btn btn-secondary btn-sm send" id="@item.product.Product_ID">submit</button>}
                                                    else
                                                    {
                                                        <span>TRX Sent, You will receive Payment Confirmation via Email </span>
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <div class="context-menu-container" id="context-menu-items">
                                                    <ul>
                                                        <li>Account Title : Auctisafe</li>
                                                        <li>IBAN : xxxxxxxxxxxxxxxxx</li>
                                                        <li>Account number : xxxxxx</li>

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </article>
        </div> <!-- end .container -->
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
@*<script>
    $("#submit").click(function () {
        var trxid = $("#trxid").val();
        var productid = $("#proid").text();
        $.ajax({
            type: "get",
            url: '@Url.Action("SendTRX","Dashboard")',
            data: { TRXID: trxid, ProductID: productid },
            success: function (data) {
                alert(data);
                location.reload();
            }
        })
    })
</script>*@
<script>
    $(".send").click(function () {
        showLoadingSpinner();
        var id = $(this).attr("id");
        var formData = new FormData();
        var fileInput = document.getElementById('imageInput_' + id);
        formData.append('image', fileInput.files[0]);
        formData.append('ProductID', id);

        $.ajax({
            url: '/Dashboard/SendTRX',  // Replace with the actual controller and action method
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                alert(data);
                location.reload();
            },
            error: function (error) {
                alert(error)
                location.reload();

            }
        });
    })

</script>